{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HORDER 3D MODELS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

{#    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">#}
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <h1 class="naming">
                <a href="search.html" class="search-button">
                    Find the best 3D assets
                </a>

                <hr style="
                    height:4px;
                    margin-top: -1px;
                    border-width:0;
                    background-color:#161616;
                    width: 1820px;
                    margin-left: -325px;
                    ">
            </h1>

            <a href="index.html" class="main-name">
                HORDER
            </a>

            <img src="{% static 'images/logo.gif' %}" alt="Animation Logo" class="logo">
{#            <span class="lnr lnr-moon"></span>#}

            <span class="dot"></span>



        </div>
    </header>
    <section id="about" class="about">
        <div class="container">

        </div>
    </section>
</body>
</html>