{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HORDER 3D MODELS</title>
    <link rel="icon" href="{% static 'favicon.png' %}" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <script type="text/javascript" src="{%  static 'js/listCollapse.js' %}"></script>

</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <h1 class="naming">
                <a href="#" class="search-button" onclick="history.back();">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>

                <hr style="
                    height:4px;
                    margin-top: -1px;
                    border-width:0;
                    background-color:#161616;
                    width: 1820px;
                    margin-left: -325px;
                    ">
            </h1>

            <a href="#" class="main-name">
                HORDER
            </a>

            <div class="mainstyle">
                <div class="download-container">
                    <a href="http://drive.google.com/uc?export=view&id={{ product.download_link }}" class="download-button">
                        <button class="download-button">
                            Download
                            <i class="fas fa-download"></i>
                        </button>
                    </a>
                </div>
                <div class="properties-list">
                    <ul id="properties-list">
                    <li>Category
                        <ul>
                            {%  for category in product.category.all %}
                                <li><a href="javascript:notA();">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Color
                        <ul>
                            {%  for color in product.colors.all %}
                                <li><a href="javascript:notA();">{{ color.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Material
                        <ul>
                            {%  for material in product.materials.all %}
                                <li><a href="javascript:notA();">{{ material.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Style
                        <ul>
                            {%  for style in product.style.all %}
                                <li><a href="javascript:notA();">{{ style.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Brand
                        <ul>
                            {%  for brand in product.brand.all %}
                                <li><a href="javascript:notA();">{{ brand.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Description
                        <ul>
                            <li><a href="javascript:notA();">
                                {{ product.description }}
                            </a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>

            <img src="{% static 'images/logo.gif' %}" alt="Animation Logo" class="logo">

            <span class="dot"></span>
        </div>
    </header>

    <div class="product-single">
        <div class="product-container-single">
            <div class="card-single">
                <div class="image">
                    <img src="http://drive.google.com/uc?export=view&id={{ product.image }}" alt="image">
                </div>
                <div class="title">
                    {{ product.name }}
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    compactMenu('properties-list',true,'');
    window.onunload = function () { if( document.getElementById && document.getElementById('consent').checked ); };
    function notA() {
    window.alert('This is not a real link !!!!!!!!');
    }
</script>

</body>
</html>