{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HORDER</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="nav">
                <img src="{% static 'images/logo.gif' %}" alt="Animation Logo">
            </div>
        </div>
    </header>
    <section id="about" class="about">
        <div class="container">

        </div>
    </section>
</body>
</html>