<!DOCTYPE HTML>
{%  load static %}
<html lang="en">
	<head>
		<title>Testing</title>
		<script type="text/javascript" src="{%  static 'js/listCollapse.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/categories.css' %}">
	</head>

	<body>
        <div id="content">
            <div class="mainstyle">
                <ul id="categories-list">
                    <li>Furniture
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Lighting
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li>Chapter 3
                                <ul>
                                    <li><a href="http://127.0.0.1:8000">Ex 1</a></li>
                                    <li><a href="javascript:notA();">Ex 2</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Decor
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Arch.Elements
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Electronic
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Textile
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Child room
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Food, dishes
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Transport
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Plants, Land
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Thematic
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                    <li>Miscellaneous
                        <ul>
                            <li><a href="javascript:notA();">Chapter 1</a></li>
                            <li><a href="javascript:notA();">Chapter 2</a></li>
                            <li><a href="javascript:notA();">Chapter 3</a></li>
                            <li><a href="javascript:notA();">Chapter 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <script type="text/javascript">
                compactMenu('categories-list',true,'');
                {#selfLink('categories-list','samePage',true);#}
                window.onunload = function () { if( document.getElementById && document.getElementById('consent').checked ); };
                function notA() {
                window.alert('This is not a real link !!!!!!!!!!!!!');
                }
            </script>
        </div>

    </body>
</html>