<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <link href="https://stackpath.bootstapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="tail.select-bootstrap4.css" rel="stylesheet"/>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-right">

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>