<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TESTESTES</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">

</head>
<body>
    <div class="middle">
        <div class="product-list">
            <div class="card">
                <div class="image">
                    <img src="{% static 'black/1.jpg' %}" alt="image">
                </div>
                <div class="title">
                    AGUSTAV lounge chair
                </div>
            </div>
        </div>
    </div>
</body>
</html>