*{margin:0;padding:0;}
html{height:100%;}
/*!* background for body *!*/
/*body {background: url(../img/1.jpg) 0 0/cover no-repeat;}*/
body.bodybg-1{background: url(../img/1.jpg) 0 0/cover no-repeat;}
body.bodybg-2{background: url(../img/2.jpg) 0 0/cover no-repeat;}
body.bodybg-3{background: url(../img/3.jpg) 0 0/cover no-repeat;}
body.bodybg-4{background: url(../img/4.jpg) 0 0/cover no-repeat;}
body.bodybg-5{background: url(../img/5.jpg) 0 0/cover no-repeat;}
body.bodybg-6{background: url(../img/6.jpg) 0 0/cover no-repeat;}