.product-list .card {
    background-color: #efefef;
    border-radius: 3px;
    color: #161616;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 0 2px 2px #c2c2c2;
    text-align: center;
}

.card .title {
    font-size: 14px;
    text-align: left;
    padding: 10px;
}

.card img {
    max-width: 100%;
    border-radius: 3px;
}

.product-container {
    margin-left: 260px;
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
